html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

/* HEADER */

.header {
  background: url("./images/header.jpg");
  background-size: 100vw 100vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 37rem;
  border-bottom: 1px solid rgba(167, 167, 167, 0.3);
}

.navigation__logo {
  margin: auto 0;
  height: 2.3rem;
  /* uncomment filter to fix a badly cropped logo but it loses the majority of colors */
  /* filter: invert(75%) hue-rotate(180deg) brightness(105%) contrast(105%); */
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  padding: 4rem 0;
}

.navigation__list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;

  transition: color 0.3s ease-in-out;
}

.navigation__list li a:hover {
  color: rgba(250, 250, 250, 1);
}

.header__section {
  color: rgba(255, 255, 255, 1);
  padding: 15rem 10rem;
  width: 90rem;
  height: 70rem;
  text-align: center;
  margin: auto;
}

.header__main {
  font-family: "Open Sans", sans-serif;
  font-size: 6.4rem;
  line-height: 7rem;
  margin-bottom: 1.5rem;
}

.header__text {
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.8);
}

.header__button {
  margin-top: 7rem;
  padding: 1.5rem 5rem;
}

/* SECTION FEATURES */

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8rem 35rem;
}

.features__item {
  width: 30rem;
  padding: 2rem;
  text-align: center;
}

.features__heading,
.features__text {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.features__heading {
  color: rgb(31, 31, 31);
}

.features__text {
  color: rgb(59, 59, 59);
}

/* SECTION WORKS */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  box-sizing: border-box;
  border: 1px solid white;
  width: 25%;
  position: relative;
}

.works__image {
  height: 100%;
  width: 100%;
}

.works__about {
  cursor: pointer;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;

  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.works__about:hover {
  opacity: 1;
  box-shadow: inset 0 0 5rem 16rem rgb(255, 75, 75, 0.8);
}

.works__about:hover > .works__heading {
  top: 50%;
}

.works__about:hover > .works__text {
  bottom: 50%;
}

.works__heading {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -130%);
  font-size: 1.4rem;
  color: white;

  transition: top 0.5s ease-in-out;
}

.works__text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 130%);
  color: white;
  font-size: 1.3rem;

  transition: bottom 0.5s ease-in-out;
}

/* SECTION TEAM */

.team {
  padding: 10rem 33rem 15rem 33rem;
  display: flex;
  justify-content: space-evenly;
}

.team__item {
  width: 27rem;
}

.team__heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.team__sub-heading {
  color: red;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.team_text {
  font-size: 1.4rem;
}

.social-icon--team {
  margin-top: 2rem;
  color: rgb(219, 219, 219);
  text-align: center;
  width: 3.8rem;
  font-size: 1.5rem;
  border: 1px solid rgb(219, 219, 219);
}

/* SECTION TESTIMONIALS */

.carousel {
  position: relative;
}

.carousel__container {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
}

.carousel__slider {
  scroll-behavior: smooth;
  height: 55vh;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
}

.carousel__image {
  margin-top: -6rem;
  margin-bottom: -6rem;
  width: 50%;
}

.carousel__testimonial-container {
  width: 50%;
  padding: 10rem 29rem 15rem 10rem;
  background: rgb(85, 52, 77);
  color: white;
}

.carousel__testimonial {
  font-family: "Cardo", serif;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.carousel__author {
  font-size: 1.45rem;
}

.carousel__button-container {
  height: 30px;
  position: absolute;
  bottom: 15%;
  right: 27%;
}

.carousel__button {
  cursor: pointer;
  margin: 0.5rem;
  height: 12px;
  width: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  transition: background 0.8s ease-in-out;
}

.carousel__button.active {
  background: white;
}

.carousel__button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* SECTION DOWNLOAD */

.download {
  padding: 10rem 0;
  text-align: center;
}

.download__heading {
  font-size: 3rem;
  font-weight: 300;
}

.download__text {
  font-size: 1.35rem;
  margin: 2rem 0 6rem 0;
}

.download__button {
  padding: 1.5rem 10rem;
}

/* FOOTER */

.footer {
  color: white;
  background: rgb(56, 61, 105);
}

.footer__info {
  padding: 0 30rem;
  display: flex;
  justify-content: space-around;
}

.footer__item {
  padding: 8rem 0;
  width: 37rem;
  text-align: center;
}

.footer__item-heading {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.footer__item-text {
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.social-icon--footer {
  width: 5rem;
  font-size: 2.5rem;
  border: 2px solid white;
}

.footer__copyright {
  color: rgba(165, 165, 165, 0.8);
  padding: 3.5rem;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.footer__text {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer__text--light {
  color: white;
  font-size: inherit;
}

/* Reusable stylings */

.button--main {
  cursor: pointer;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  border: none;
  background: rgb(255, 75, 75);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);

  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button--main:hover {
  transform: translateY(-5%);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
.button--main:active {
  transform: translateY(-3%);
}

.social-icon {
  cursor: pointer;
  border-radius: 3px;
  padding: 1rem 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(56, 61, 105, 1);
  box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 75, 75, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 75, 75);
}
